.test-border {
  border: 1px solid black;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
html,
body {
  max-width: 550px;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
h1,
h2,
h3 {
  text-align: center;
}
h1,
h2,
h3,
p {
  padding: 2% 0;
}
.media-navbar .profile-pic {
  display: none;
}
.media-navbar .highlights {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 2%;
  font-size: 1.6rem;
}
.info-bar {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.info-bar .name {
  width: 100%;
  font-weight: 900;
}
.info-bar .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 0 1%;
  font-size: 1.2rem;
}
.info-bar .info address {
  border: 1px solid black;
  margin: 0;
  border-right: 1px solid black;
}
.info-bar .info .phone {
  border: 1px solid black;
  margin: 0;
}
.info-bar .info .email {
  border: 1px solid black;
  margin: 0;
}
.info-bar .media-links {
  display: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-left: 1px solid black;
  width: 20%;
  padding: 0 1%;
  color: maroon;
}
