// Media-navbar

.media-navbar {
    // .test-border;
    .profile-pic {
        display: none;
    }
    .highlights {
        .test-border;
        .flex(row; align-items; center);
        padding: 1% 2%;
        font-size: 1.6rem;
    }
}

.info-bar {
    .test-border;
    .flex();
    .name {
        width: 100%;
        font-weight: 900;
    }
    .info {
        // .test-border;
        .flex();
        width: 80%;
        padding: 0 1%;
        font-size: 1.2rem;
        address {
            .test-border;
            margin: 0;
            border-right: 1px solid black;
        }
        .phone {
            .test-border;
            margin: 0;
        }
        .email {
            .test-border;
            margin: 0;
        }
    }
    .media-links {
        display: none;
        // .test-border;
        .flex();
        border-left: 1px solid black; 
        width: 20%;
        padding: 0 1%;
        color: maroon;
    }

}